[user]
        name = okitan
        email = okitakunio@gmail.com
[include]
        path = .gitconfig.local
[core]
        excludesfile = ~/.gitignore
[color]
        ui = true
[alias]
        br = branch
        co = checkout
        ci = commit
        s = status
[gitflow "branch"]
        master = master
        develop = develop
[gitflow "prefix"]
        feature = feature/
        release = release/
        hotfix = hotfix/
        support = support/
        versiontag =
