[user]
	name = okitan
	email = okitakunio@gmail.com
[include]
	path = .gitconfig.local
[core]
	excludesfile = ~/.gitignore
[color]
	ui = true
[alias]
	br = branch
	co = checkout
	ci = commit
	s = status
	sw = switch

	master = switch master
[rebase]
	stat = true
[push]
	set-upstream = true
[pager]
	log  = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[fetch]
	prune = true
[diff]
	compactionHeuristic = true
[pull]
	rebase = true
