# for emacs
*~
\#*
.\#*

# for vscode
.vscode

# mac
.DS_Store

# local or disalbe flag
*.local
*.orz

# ruby
.ruby-version
.ruby-gemset
.bundle

.editorconfig
.yas-compiled-snippets.el

# secret
.envrc
