[user]
	name = okitan
	email = okitakunio@gmail.com
[include]
	path = .gitconfig.local
[core]
	excludesfile = ~/.gitignore
	pager = delta
[color]
	ui = true
[alias]
	br = branch
	co = checkout
	ci = commit
	s = status
	sw = switch
[rebase]
	stat = true
[push]
	set-upstream = true
[fetch]
	prune = true
[diff]
	compactionHeuristic = true
[pull]
	rebase = true

[interactive]
    diffFilter = delta --color-only

[delta]
    features = line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none